/* 全局背景为白色，需要覆盖设置编辑区整体背景 */
/* .editor-container .monaco-editor .scrollbar.vertical, */
#workbench\.parts\.editor .monaco-editor-background,
#workbench\.parts\.editor .monaco-editor .margin {
  background-color: #1a1a1a;
}

.monaco-workbench #workbench\.parts\.editor {
  --vscode-editor-background: #1a1a1a;
  --vscode-editor-foreground: #cccccc;
}

/* 全局前景为黑色，需要覆盖设置默认代码颜色，浮动窗前景色  */
#workbench\.parts\.editor .monaco-editor .mtk1,
.monaco-workbench .overflowingContentWidgets {
  --vscode-foreground: #cccccc;
  color: #CCCCCC;
}

/* 因为 "peekViewEditor.background" 设置值被上面的背景色所覆盖，所以要覆盖回来 */
#workbench\.parts\.editor .zone-widget .monaco-editor-background,
#workbench\.parts\.editor .zone-widget .monaco-editor .margin {
  background-color: #392620;
}

/* 搜索框 */
#workbench\.parts\.editor .suggest-input-container .lines-content.monaco-editor-background,
.settings-editor >.settings-body .settings-toc-container .monaco-list-row {
  background-color: #fff;
}

#workbench\.parts\.editor .settings-body{
  --vscode-editor-background: #fff;
  --vscode-editor-foreground: #262626;
}

#workbench\.parts\.editor .suggest-input-container .lines-content.monaco-editor-background .mtk1:not(.ghost-text-decoration) {
  color: #000000;
}

/* 消息弹窗 */
.monaco-editor .monaco-editor-overlaymessage .message {
  --vscode-inputValidation-infoForeground: #262626;
	color: var(--vscode-inputValidation-infoForeground);
}


/* 暗色模式下，迷你图边框阴影会被样式隐藏，亮色模式下需要强制关闭 */
.monaco-editor .minimap-shadow-visible {
  box-shadow: none;
}

/* 面包屑下边界阴影 */
.monaco-editor .scroll-decoration {
  box-shadow: #1a1a1a 0 6px 6px -6px inset;
}

/* 左侧面板(文件树,扩展列表等)滚动时上边界阴影 */
.monaco-scrollable-element > .shadow.top{
  box-shadow: #1a1a1a33 0 6px 6px -6px inset;
}

/* 代码提示图标背景 */
.monaco-editor .lightBulbWidget:after,
.monaco-editor .contentWidgets .codicon.codicon-lightbulb-autofix,
.monaco-editor .contentWidgets .codicon.codicon-light-bulb {
  background-color: rgba(26, 26, 26, 0.7);
}
